html {
  font-size: 10px;
  font-family: Comfortaa, sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  width: 100%;
  text-align: left;
  background: #C73E1D; /* vermillion */
  align: left;
  box-shadow: 0 0 1rem black, 0 0 2rem black inset;
}

#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

#navbar li {
  padding: 0;
  font-size: 2.5rem;
}

#navbar li a {
  color: #EDF6F9; /* alice blue */
  text-decoration: none;
  padding: 2rem;
  line-height: 6rem;
}

#navbar li:hover {
  background: #272727; /* erie black */
  box-shadow: 0 0 1rem black, 0 0 1rem black inset;
}

section {
  box-shadow: 0 0 1rem #272727, 0 0 1rem #272727 inset;
}

#welcome-section {
  margin-top: 6rem;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: #272727; /* erie black */
}

#welcome-section h1 {
  color: #EDF6F9; /* alice blue */
  font-size: 6rem;
  margin: 0;
  padding: 1rem;
}

#welcome-section h2, p{
  color: #C73E1D; /* vermillion */
  font-size: 3rem;
  margin: 0;
  padding: .25rem;
}

#welcome-section p{
  color: #EDF6F9; /* alice blue */
  font-size: 2.5rem;
  margin: 0;
  padding: .5rem;
}

#projects {
  background: #C9B79C; /* khaki web */
  padding: 3rem;
}

h2 {
  font-size: 2.75rem;
  color: #272727; /* erie black */
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

#project-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.project-tile {
  width: 40rem;
  background: #3A7CA5; /* steel blue */
  box-shadow: 0 0 1rem black;
  border-radius: 2rem;
  margin: 1rem;
  transition: transform 0.3s ease-out;
}

.project-tile:hover {
  box-shadow: 0 0 2.5rem black;
  transform: translateY(-1rem);
  border-radius: rem;
}

.project-img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  text-align: center;
}

#projects a {
  color: #EDF6F9; /* alice blue */
  text-decoration: none;
  line-height: 5rem;
}

#contact {
  background: #3A7CA5; /* steel blue */
  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.contact-img {
  height: 4rem;
  padding-right: 1rem;
}

#contact ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#contact li {
  list-style: none;
  background: #272727; /* erie black */
  border-radius: 1rem;
  box-shadow: 0 0 1rem black;
  margin: 1rem;
  transition: transform 0.3s ease-out;
}

#contact li:hover {
  box-shadow: 0 0 2.5rem black;
  transform: scale(1.1, 1.1);
}

#contact a {
  color: #EDF6F9; /* alice blue */
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 1rem;
}

@media (max-width: 920px) {
  #navbar li {
    font-size: 1.75rem;
  }
  
  #welcome-section h1 {
    font-size: 4rem;
  }
  
  #welcome-section p {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  .project-tile {
    width: 20rem;
  }
  
  .project-img {
    height: 10rem;
  }
  
  .project-title {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  
  #contact {
    font-size: 2rem;
  }
  
  .contact-img {
    height: 3rem;
  }
}