html {
  font-size: 10px;
  font-family: Comfortaa, sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

#navbar {
  position: fixed;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  top: 0;
  width: 100%;
  text-align: left;
  background: #C73E1D; /* vermillion */
  box-shadow: 0 0 1rem black, 0 0 2rem black inset;
}

#name {
  justify-self: flex-start;
}

#navbar ul {
  display: flex;
  justify-self: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
}

#navbar li, #name {
  padding: 0;
  font-size: 2.5rem;
}

#navbar li a, #name a {
  color: #EDF6F9; /* alice blue */
  text-decoration: none;
  padding: 2rem;
  line-height: 6rem;
  text-shadow: 0 0 .2rem black;
}

#navbar li:hover{
  background: #272727; /* erie black */
  box-shadow: 0 0 1rem black, 0 0 1rem black inset;
}

section {
  box-shadow: 0 0 .5rem black inset;
}

#welcome {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: url("../images/coffee-5132832_1920.png");/*#272727; /* erie black */
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome h1 {
  color: #272727; /* alice blue */
  font-size: 6rem;
  font-weight: bolder;
  text-align: center;
  margin: 0;
  padding: 1rem;
  text-shadow: 0 0 .2rem white;
}

#welcome h2, .experience-partitions {
  color: #C73E1D; /* vermillion */
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: .25rem;
  text-shadow: 0 0 .2rem black;
}

#name-tag {
  align-items: center;
  justify-content: center;
  padding: 5rem;
  background: rgba(255, 255, 255, 0.288);
  border-radius: 2rem;
}

#about-me {
  display: grid;
  grid-template-columns: auto 30rem;
  grid-template-areas: "info image"
                       "info links";
  padding-top: 3rem;
  padding-bottom: 5rem;
  background: #EDF6F9; /* alice blue */;
}

#portrate {
  grid-area: image;
  justify-self: center;
  align-self: center;
  border-radius: 2rem;
  box-shadow: 0 0 1rem black;
}

#about-me-info {
  grid-area: info;
}

#about-me p {
  font-size: 2rem;
  color: #272727; /* erie black */
  text-align: center;
  margin: 0;
  padding: .5rem;
}

.social-media-image {
  height: 3rem;
  padding-right: 1rem;
}

#social-media ul {
  display: flex;
  flex-flow: row wrap;
  grid-area: links;
  justify-content: center;
}

#social-media li {
  list-style: none;
  background: #272727; /* erie black */
  border-radius: 1rem;
  box-shadow: 0 0 1rem black;
  margin: 1rem;
  transition: transform 0.3s ease-out;
}

#social-media li:hover {
  box-shadow: 0 0 1.5rem black;
  transform: scale(1.05, 1.05);
}

#social-media a {
  color: #EDF6F9; /* alice blue */
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 1rem;
}

#projects {
  background: #cad2d4; /* alice blue */  /* #C9B79C; /* khaki web */
  padding: 3rem;
}

#projects h2, #about-me h2, #contact h2 {
  font-size: 2.75rem;
  color: #272727; /* erie black */
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

#project-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.project-tile {
  width: 40rem;
  background: #C73E1D;
  box-shadow: 0 0 1rem black;
  border-radius: 2rem;
  margin: 1rem;
  transition: transform 0.3s ease-out;
  box-shadow: 0 0 .5rem black, 0 0 2rem #272727 inset;
}

.project-tile:hover {
  box-shadow: 0 0 2.5rem black, 0 0 2rem #272727 inset;
  transform: translateY(-1rem);
}

.project-img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  text-align: center;
}

#projects a {
  color: #EDF6F9; /* alice blue */
  text-decoration: none;
  line-height: 5rem;
  text-shadow: 0 0 .2rem black;
}

#contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
  background: #EDF6F9; /* alice blue */;
  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

#contact-form {
  display: flex;
  flex-flow: column nowrap;
  width: 40rem;
  background: #27272771;
  box-shadow: 0 0 1rem black;
  border: .1rem solid black;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 auto 0 auto;
}

#contact-form * {
  font-family: Comfortaa, sans-serif;
  font-size: 1.5rem;
  margin: .25rem;
  padding: .25rem;
  border: .2rem solid #272727;
}

#contact-form *:hover {
  outline: none;
  border-color: #c73f1d79;
}

#contact-form *:focus {
  outline: none;
  background: #d4d4d4;
}

#submit-button {
  font-weight: bolder;
}

#submit-button:hover, #submit-button:focus {
  outline: none;
  border-style: solid;
  background: #27272779;
}

footer {
  font-size: 1.5rem;
  text-align: center;
  background: #272727;
  padding: .5rem;
  color: #EDF6F9;
}

@media (max-width: 920px) {
  
}
